@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('./reset.css');

:root{
  --Ink-Darkest: rgb(9, 10, 10);
  --Ink-Light: rgb(108, 112, 114);

  --Sky-Lighter: rgb(242, 244, 245);

  --Bg-Light: rgb(242, 244, 245);
}

body{
  box-sizing: border-box;
}

.container{
  padding: 24px;
  min-height: 100%;
}

.app.dark .container{
  background: #23272f;
}

.app.light .container{
  background: white;
}

.app.dark p,
.app.dark h3,
.app.dark h1{
  color: #f6f7f9;
}

.app.light p,
.app.light h3,
.app.light h1{
  color: black;
}

