.header{
  display: flex;
  padding: 12px 24px;
  justify-content: space-between;
  gap: 12px;

  border-bottom: 1px solid var(--Sky-Lighter);
}

.title {
  color: var(--Ink-Darkest);
  font-family: 'Oxygen', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.date {
  color: var(--Ink-Darkest);
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.dark{
  background-color: #23272f;
  border-bottom: 1px solid rgb(60, 60, 60);
}

.light{
  background-color: white;
}